body{
  font-family: Arial;
  margin-left: 6px;
}

nav ul{
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

nav ul li{
  display: inline;
  margin-right: 10 px;
  justify-content: space-evenly
}

nav ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

nav a{
  margin-right: 340 px;
}

img{
  width: 300px; 
 font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #FFF3B0; /* soft yellow background */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: auto;
}

body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20251101/pngtree-lush-green-rice-terraces-cascading-down-a-misty-mountainside-image_20179159.webp');
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;  
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);                 
    padding: 20px;
<style>
  a.vietnam-link {
    color: darkgreen;
    text-decoration: none;
  }
  
  a.vietnam-link:hover {
    color: rgb(255, 255, 255);
  }
</style>
    